---
import Layout from "../../layouts/Layout.astro";
import DocsHeader from "../../components/DocsHeader.astro";
import DocsSidebar from "../../components/docs/DocsSidebar.astro";
import DocsContent from "../../components/docs/DocsContent.astro";
import DocsOutline from "../../components/docs/DocsOutline.astro";

// Get the current path to determine active navigation
const { url } = Astro;
const currentPath = url.pathname;
---

<Layout title="Docs">
  <div class="pt-16">
    <DocsHeader />
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="flex flex-col gap-8 lg:flex-row">
        <!-- Left Sidebar -->
        <aside class="w-full flex-shrink-0 lg:w-64">
          <DocsSidebar currentPath={currentPath} />
        </aside>

        <!-- Main Content -->
        <main class="min-w-0 flex-1">
          <DocsContent currentPath={currentPath} />
        </main>

        <!-- Right Sidebar - Table of Contents -->
        <aside class="hidden w-64 flex-shrink-0 xl:block">
          <DocsOutline />
        </aside>
      </div>
    </div>
  </div>
</Layout>

<style>
  /* Add any custom styles here */
</style>
