<div class="py-2 sm:py-2 mx-auto max-w-7xl px-6 lg:px-8 dark:bg-[var(--sl-color-bg)]">
    <div class="relative mt-16 aspect-[2432/1442] w-full">
      <div class="absolute -inset-2 rounded-[calc(theme(borderRadius.xl)+theme(spacing.2))] shadow-sm ring-1 ring-black/5 dark:ring-white/5"></div>
      <img src="https://tailwindcss.com/plus-assets/img/component-images/project-app-screenshot.png" alt="" class="h-full w-full rounded-xl shadow-2xl ring-1 ring-black/10 dark:ring-white/10" />
    </div>
    <p class="mt-12 text-xl/8 text-gray-600 dark:text-gray-400">Simple REST API to create sandboxes, execute code, and retrieve results. Language-agnostic with full Docker support.</p>
  </div>