---
import PricePanel from './PricePanel.astro';
import HeroSidekick from './HeroSidekick.astro';
import FAQ from '../FAQ.astro';
import ListTools from './ListTools.astro';
import Qs from '../Qs.astro';
import ListHowItWorks from './ListHowItWorks.astro';
import Table from './Table.astro';
import Close from './Close.astro';
---

<div class="flex min-h-full flex-col">
  <div class="mx-auto flex w-full max-w-7xl flex-col gap-8 px-4 sm:px-6 lg:flex-row lg:px-8">
    {/* Mobile PricePanel - shown on small screens */}
    <div class="lg:hidden mt-8">
      <PricePanel />
    </div>

    <main class="flex-1">
      <HeroSidekick />
      <Qs />
      <ListTools />
      <ListHowItWorks />
      <Table />
      <FAQ />
      <Close />
    </main>

    {/* Desktop PricePanel - shown on lg screens and up */}
    <aside class="hidden lg:ml-12 lg:sticky lg:top-8 lg:block lg:w-96 lg:shrink-0">
      <PricePanel />
    </aside>
  </div>
</div>