<div
    class="group relative w-full max-w-xl bg-white dark:bg-neutral-900 ring-1 ring-neutral-300 dark:ring-neutral-700 hover:ring-emerald-500 transition-all duration-300 shadow-xl overflow-hidden rounded-"
>
<div class="flex items-center justify-between px-6 py-5 my-2">
    <code
        id="command-text"
        class="font-mono text-sm text-black dark:text-white truncate bg-gray-200 dark:bg-gray-700 px-4 py-2 rounded-xs w-full text-start"
    >
        curl -fsSL https://compute.sdk/install.sh | sh
    </code>
    <div
    onclick="copyCommand()">
        <img src="MaterialSymbolsContentCopyOutlineSharp.svg" alt="Copy" class="ml-4 cursor-pointer" />
    </div>
</div>

<script>
      function copyCommand() {
    navigator.clipboard.writeText("curl -fsSL https://compute.sdk/install.sh | sh");
  }

(window as any).copyCommand = copyCommand;
</script>