<!-- Mobile Menu Button -->
<div id="mobile-menu-button" class="md:hidden flex items-center justify-center">
  <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md text-gray-700 bg-transparent dark:text-gray-200 dark:bg-transparent">
    <span class="sr-only">Open main menu</span>
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true" class="size-6">
      <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
</div>

<!-- Mobile Menu Dialog -->
<el-dialog>
  <dialog id="mobile-menu" class="m-0 p-0 backdrop:bg-transparent dark:backdrop:bg-transparent lg:hidden">
    <div tabindex="0" class="fixed inset-0 focus:outline focus:outline-0">
      <el-dialog-panel class="fixed inset-y-0 right-0 z-50 p-4 pt-3 w-full overflow-y-auto bg-white dark:bg-gray-900 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center gap-x-6 justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Compute SDK</span>

            <img src="/hv_main_logo_light.svg" alt="" class="h-8 w-auto dark:hidden" />
            <img src="/hv_main_logo_dark.svg" alt="" class="h-8 w-auto dark:block hidden" />
          </a>
          <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-700 bg-transparent dark:text-gray-200 dark:bg-transparent">
            <span class="sr-only">Close menu</span>
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" aria-hidden="true" class="size-6">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </button>
        </div>
        <div class="py-10 space-y-4 text-center border-b border-gray-200">
            <a href="https://console.computesdk.com/register" class="ml-auto rounded-xs bg-emerald-600 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 block no-underline dark:bg-emerald-500 dark:hover:bg-emerald-600 dark:text-white">Register</a>
            <a href="https://console.computesdk.com/login" class="ml-auto rounded-xs px-3 py-2 text-sm font-semibold text-gray-900 border border-gray-200 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 block no-underline dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Login</a>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="py-6">
                <a href="/features" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 no-underline dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Features</a>
                <a href="/use-cases" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 no-underline dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Use Cases</a>
                <a href="/providers" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 no-underline dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Providers</a>
                <a href="/pricing" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 no-underline dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Pricing</a>
                <a href="/docs" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 no-underline dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Docs</a>
                <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50 no-underline dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">Blog</a>
            </div>
          </div>
        </div>
      </el-dialog-panel>
    </div>
  </dialog>
</el-dialog>