<div class="prose-xl bg-white dark:bg-[var(--sl-color-bg)] py-24 px-6 lg:px-8">
    <div>
      <h1>Frequently asked questions</h1>
      <br />
      <div>
        <div>
          <h4>What's the best thing about Switzerland?</h4>
          <p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </div>
        <div>
          <h4>How do you make holy water?</h4>
          <p>You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.</p>
        </div>
        <div>
          <h4>What do you call someone with no body and no nose?</h4>
          <p>Nobody knows. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.</p>
        </div>
        <div>
          <h4>Why do you never see elephants hiding in trees?</h4>
          <p>Because they're so good at it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>
        </div>
        <div>
          <h4>Why can't you hear a pterodactyl go to the bathroom?</h4>
          <p>Because the pee is silent. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.</p>
        </div>
        <div>
          <h4>Why did the invisible man turn down the job offer?</h4>
          <p>He couldn't see himself doing it. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.</p>
        </div>
      </div>
    </div>
  </div>