---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---

<div id={id} class="px-6 py-6 pt-36 pb-12 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-gray-700 dark:text-gray-300">
      <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-300">Introducing</p>
      <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl">All of a sudden everyone is a coder now.</h1>
      <p class="mt-6 text-xl/8">I remember scouring through the Joomla! docs for a site I was building
        when I was 13. I remember that the concepts were not the gotchas, but
        syntax or one little piece of information was. Every bit of detail was
        worth reading because you weren't sure when you would need it for
        recall.</p>
      <div class="mt-10 max-w-2xl text-gray-600 dark:text-gray-300">
        <p>On June 20, 2024 anthropic released Claude 3.5 Sonnet and the internet
            changed. All of a sudden an AI studio had released a model that was
            good enough to output code. All of a sudden everyone could be a coder.
            A vibe coder.</p>
        <p>However, just like any experienced programmer can tell you. Creating
            something is addicting. The next million developers didn't learn to
            code by building Joomla, WordPress or Magento sites like me. They've
            learned or are learning to code by vibe coding.</p>
        <p class="mt-6 text-xl/8 font-bold">Compressing complexity is more important than ever.</p>
        <p>These next sets of coders don't want to fiddle with Terraform, CDK, or
            some vendor's docs. The next set of coders want to build even more
            complex applications and therefore need to compress the complexity.</p>
        <p>ComputeSDK is a primitive to help you build any application. To start,
            we're building the primitive around raw compute. We've aggregated some
            of the best integrations from E2B, Vercel, Fly, and Cloudflare so that
            you can get started quickly without needing to manage the complexity
            of a specific vendor.</p>
        <p>Additionally, we're rolling our own Kubernetes Operator so that anyone
            can self-host without missing out on magical experiences.</p>
        
            <div class="font-semibold text-gray-900 dark:text-white text-xl mt-6">
                <p >
                  Garrison Snelling
                </p>
                <p class="text-gray-600 dark:text-gray-300 text-sm">Founder, ComputeSDK</p>
       </div>   
</div>