<div class="prose-xl bg-white dark:bg-[var(--sl-color-bg)] py-24 px-6 lg:px-8">
  <h2>Stay on top of customer support</h2>
  <ul>
    <li><strong>Spam report</strong> Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</li>
    <li><strong>Compose in Markdown</strong> Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</li>
    <li><strong>Email Commenting</strong> Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</li>
    <li><strong>Customer connections</strong> Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</li>
  </ul>
</div>