<!-- Light Mode -->
<div>
    <div class="dark:hidden mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h2 class="text-lg/8 font-semibold text-gray-900 text-center">You choose the provider that best meets your needs</h2>
        <div class="mx-auto mt-4 grid grid-cols-2 items-stretch gap-x-8 gap-y-10 sm:grid-cols-3 sm:gap-x-10 lg:mx-0 lg:grid-cols-7 bg-transparent">
          <div class="flex items-center justify-center h-full mt-4">
            <img width="158" height="48" src="/blaxel-logo-light.svg" alt="Blaxel" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/codesandbox-logo-light.svg" alt="Codesandbox" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/daytona-logo-light.svg" alt="Daytona" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/E2B-logo-light.svg" alt="E2B" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/modal-logo-light.svg" alt="Modal" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/runloop-logo-light.svg" alt="Runloop" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/vercel-logo-light.svg" alt="Vercel" class="h-12 w-full object-contain" />
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Dark Mode -->
<div>
  <div class="hidden dark:block mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <h2 class="text-lg/8 font-semibold text-white text-center">You choose the provider that best meets your needs</h2>
      <div class="mx-auto mt-4 grid grid-cols-2 items-stretch gap-x-8 gap-y-10 sm:grid-cols-3 sm:gap-x-10 lg:mx-0 lg:grid-cols-7">
        <div class="flex items-center justify-center h-full mt-4">
          <img width="158" height="48" src="/blaxel-logo-dark.svg" alt="Blaxel" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/codesandbox-logo-dark.svg" alt="Codesandbox" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/daytona-logo-dark.svg" alt="Daytona" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/E2B-logo-dark.svg" alt="E2B" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/modal-logo-dark.svg" alt="Modal" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/runloop-logo-dark.svg" alt="Runloop" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/vercel-logo-dark.svg" alt="Vercel" class="h-12 w-full object-contain" />
        </div>
      </div>
    </div>
  </div>
</div>