<style>
  .logo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 640px) {
    .logo-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .logo-grid {
      grid-template-columns: 1fr 1fr 0.65fr 1fr 1.4fr 1fr 0.8fr;
    }
  }
</style>

<!-- Light Mode -->
<div>
    <div class="dark:hidden mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h2 class="text-lg/8 font-semibold text-gray-900 text-center">You choose the provider that best meets your needs</h2>
        <div class="mx-auto mt-4 grid logo-grid items-stretch gap-x-8 gap-y-10 lg:mx-0 bg-transparent">
          <div class="flex items-center justify-center h-full mt-4">
            <img width="158" height="48" src="/blaxel-logo-light.svg" alt="Blaxel" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/daytona-logo-light.svg" alt="Daytona" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/E2B-logo-light.svg" alt="E2B" class="h-[38px] w-auto object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/modal-logo-light.svg" alt="Modal" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/railway-light.svg" alt="Railway" class="h-[78px] w-auto object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/runloop-logo-light\.svg" alt="Runloop" class="h-12 w-full object-contain" />
          </div>
          <div class="flex items-center justify-center h-full">
            <img width="158" height="48" src="/Vercel_Logo_L.svg" alt="Vercel" class="h-[38px] w-auto object-contain" />
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Dark Mode -->
<div>
  <div class="hidden dark:block mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <h2 class="text-lg/8 font-semibold text-white text-center">You choose the provider that best meets your needs</h2>
      <div class="mx-auto mt-4 grid logo-grid items-stretch gap-x-8 gap-y-10 lg:mx-0">
        <div class="flex items-center justify-center h-full mt-4">
          <img width="158" height="48" src="/blaxel-logo-dark.svg" alt="Blaxel" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/daytona-logo-dark.svg" alt="Daytona" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/E2B-logo-dark.svg" alt="E2B" class="h-[38px] w-auto object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/modal-logo-dark.svg" alt="Modal" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/railway-dark.svg" alt="Railway" class="h-[58px] w-auto object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/runloop-logo-dark.svg" alt="Runloop" class="h-12 w-full object-contain" />
        </div>
        <div class="flex items-center justify-center h-full">
          <img width="158" height="48" src="/Vercel_Logo_D.svg" alt="Vercel" class="h-[38px] w-auto object-contain" />
        </div>
      </div>
    </div>
  </div>
</div>