<div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h2 class="text-lg/8 font-semibold text-gray-900 dark:text-white text-center">Backed by</h2>
        <div class="mx-auto mt-6 flex items-center justify-center gap-x-12 gap-y-8 flex-wrap">
          <div class="flex items-center justify-center">
            <img src="/archil-logo.png" alt="Archil" class="h-8 w-auto object-contain dark:invert" />
          </div>
          <div class="flex items-center justify-center">
            <img src="/latitude-logo.svg" alt="Latitude" class="h-8 w-auto object-contain dark:invert" />
          </div>
          <div class="flex items-center justify-center">
            <img src="/tigris-logo.svg" alt="Tigris" class="h-8 w-auto object-contain dark:invert" />
          </div>
        </div>
      </div>
    </div>
</div>
