---
// ProHeader.astro - Header component for the Pro page
---

<div class="mb-6 pr-20 font-sans">
  <div class="mb-6 flex items-center">
    <img
      src="/images/hv_main_logo.svg"
      alt="ComputeSDK Logo"
      class="h-20 w-auto"
      width="20"
      height="20"
    />
    <h1 class="ml-6 font-mono text-6xl font-bold text-gray-500">/Pro</h1>
  </div>
  <h3 class="mb-6 font-serif text-4xl font-semibold">
    The best way to get ComputeSDK
  </h3>
  <p class="mb-6 font-serif text-2xl text-gray-600 dark:text-gray-300">
    <span class="font-['Reddit_Mono']">Pro</span> is a paid version of ComputeSDK
    that includes everything you need to get started with ComputeSDK.
  </p>
</div>
