---

---
<div class="isolate bg-transparent py-24 sm:py-32">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Talk with our Team</h2>
    <p class="mt-6 text-lg/8 text-gray-600">Schedule a meeting with our engineering team to discuss your needs and see how ComputeSDK can help accelerate your development.</p>
  </div>
  <div class="w-full mb-24 border-b border-gray-200 dark:border-gray-700">
    
  <div class="mx-auto max-w-7xl mt-16 pb-32 rounded-2xl overflow-hidden">
<!-- Cal inline embed code begins -->
        <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline-talk-to-an-engineer"></div>
        <script type="text/javascript">
        (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
        Cal("init", "talk-to-an-engineer", {origin:"https://app.cal.com"});

        Cal.ns["talk-to-an-engineer"]("inline", {
            elementOrSelector:"#my-cal-inline-talk-to-an-engineer",
            config: {"layout":"month_view"},
            calLink: "team/computesdk/talk-to-an-engineer",
        });

        Cal.ns["talk-to-an-engineer"]("ui", {"hideEventTypeDetails":true,"layout":"month_view"});
        </script>
        <!-- Cal inline embed code ends -->
    </div>
    </div>
    <div class="relative isolate px-6 lg:px-8 my-0">
        <div class="md:mx-auto max-w-2xl md:text-center">
          <h3 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-5xl">Contact Sales</h3>
          <p class="mx-auto mt-6 max-w-2xl text-pretty text-lg/8 text-gray-600 dark:text-gray-300">Our engineering and sales team is available to discuss your needs and answer any questions you may have - <a href="mailto:sales@computesdk.com" class="text-lg/8 no-underline text-emerald-600 hover:text-emerald-500">sales@computesdk.com</a>.
          You can also checkout our <a href="/contact" class="text-lg/8 no-underline text-emerald-600 hover:text-emerald-500">contact</a> page for more information on how to connect with our team.</p>
        </div>
      </div>
</div>
