---
interface Props {
  src: string;
  poster?: string;
  title?: string;
}

const { src, poster, title = 'See it in action' } = Astro.props;
---

<div class="py-16 sm:py-24 mx-auto max-w-7xl px-6 lg:px-8 dark:bg-[var(--sl-color-bg)]">
    <p class="max-w-2xl text-pretty text-5xl font-semibold tracking-tight text-gray-900 sm:text-balance sm:text-6xl dark:text-white">{title}</p>
    <div class="relative mt-16 aspect-video w-full">
      <div class="absolute -inset-2 rounded-[calc(theme(borderRadius.xl)+theme(spacing.2))] shadow-sm ring-1 ring-black/5 dark:ring-white/5"></div>
      <video 
        class="h-auto w-full rounded-xl shadow-2xl ring-1 ring-black/10 dark:ring-white/10"
        controls
        muted
        playsinline
        poster={poster}
      >
        <source src={src} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>